# Rules in this file were initially inferred by Visual Studio IntelliCode from the C:\Program Files\Programming C++\Autumn-Programming-C\2022-09-08 Homework 1 codebase based on best match to current usage at 08.09.2022
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

